<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="#news">News</a>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>
    <div class="form-add-new">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>form add new user</legend>
                <div class="input-group">
                    <label for="">EMAIL: </label>
                    <input type="email" name="name_email">
                </div class="input-group">
                <div class="input-group">
                    <label for="">NAME: </label>
                    <input type="text" name="name_ten">
                </div>
                <div class="input-group">
                    <label for="">CITY: </label>
                    <input type="text" name="name_city">
                </div>
                <div>
                    <button id="save_id">
                        SAVE
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>